#Cypress
E2E/Cypress/node_modules/
*.log
E2E/Cypress/cypress/videos/
E2E/Cypress/cypress/screenshots/
API/Cypress/node_modules

# Playwright
E2E/Playwright/node_modules/
E2E/Playwright/test-results/
E2E/Playwright/playwright-report/
E2E/Playwright/blob-report/
E2E/Playwright/playwright/.cache/
E2E/Playwright/playwright/.auth/